RPS.Factory/bin/Debug/netcoreapp3.1/RPS.Factory.deps.json
RPS.Factory/bin/Debug/netcoreapp3.1/RPS.Factory.dll
RPS.Factory/bin/Debug/netcoreapp3.1/RPS.Factory.pdb
RPS.Factory/obj/project.assets.json
RPS.Factory/obj/project.nuget.cache
RPS.Factory/obj/RPS.Factory.csproj.nuget.dgspec.json
RPS.Factory/obj/RPS.Factory.csproj.nuget.g.props
RPS.Factory/obj/RPS.Factory.csproj.nuget.g.targets
RPS.Factory/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
RPS.Factory/obj/Debug/netcoreapp3.1/RPS.Factory.AssemblyInfo.cs
RPS.Factory/obj/Debug/netcoreapp3.1/RPS.Factory.AssemblyInfoInputs.cache
RPS.Factory/obj/Debug/netcoreapp3.1/RPS.Factory.assets.cache
RPS.Factory/obj/Debug/netcoreapp3.1/RPS.Factory.csproj.CoreCompileInputs.cache
RPS.Factory/obj/Debug/netcoreapp3.1/RPS.Factory.csproj.FileListAbsolute.txt
RPS.Factory/obj/Debug/netcoreapp3.1/RPS.Factory.csprojAssemblyReference.cache
RPS.Factory/obj/Debug/netcoreapp3.1/RPS.Factory.dll
RPS.Factory/obj/Debug/netcoreapp3.1/RPS.Factory.pdb
RPS.Game/obj/project.assets.json
RPS.Game/obj/project.nuget.cache
RPS.Game/obj/RPS.Game.csproj.nuget.dgspec.json
RPS.Game/obj/RPS.Game.csproj.nuget.g.props
RPS.Game/obj/RPS.Game.csproj.nuget.g.targets
RPS.Game/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
RPS.Game/obj/Debug/netcoreapp3.1/RPS.Game.AssemblyInfo.cs
RPS.Game/obj/Debug/netcoreapp3.1/RPS.Game.AssemblyInfoInputs.cache
RPS.Game/obj/Debug/netcoreapp3.1/RPS.Game.assets.cache
RPS.Game/obj/Debug/netcoreapp3.1/RPS.Game.csproj.CoreCompileInputs.cache
RPS.Game/obj/Debug/netcoreapp3.1/RPS.Game.csproj.FileListAbsolute.txt
RPS.Game/obj/Debug/netcoreapp3.1/RPS.Game.csprojAssemblyReference.cache
RPS.Game/obj/Debug/netcoreapp3.1/RPS.Game.dll
RPS.Game/obj/Debug/netcoreapp3.1/RPS.Game.pdb
RPS.Model/bin/Debug/netcoreapp3.1/RPS.Model.deps.json
RPS.Model/bin/Debug/netcoreapp3.1/RPS.Model.dll
RPS.Model/bin/Debug/netcoreapp3.1/RPS.Model.pdb
RPS.Model/obj/project.assets.json
RPS.Model/obj/project.nuget.cache
RPS.Model/obj/RPS.Model.csproj.nuget.dgspec.json
RPS.Model/obj/RPS.Model.csproj.nuget.g.props
RPS.Model/obj/RPS.Model.csproj.nuget.g.targets
RPS.Model/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
RPS.Model/obj/Debug/netcoreapp3.1/RPS.Model.AssemblyInfo.cs
RPS.Model/obj/Debug/netcoreapp3.1/RPS.Model.AssemblyInfoInputs.cache
RPS.Model/obj/Debug/netcoreapp3.1/RPS.Model.assets.cache
RPS.Model/obj/Debug/netcoreapp3.1/RPS.Model.csproj.CoreCompileInputs.cache
RPS.Model/obj/Debug/netcoreapp3.1/RPS.Model.csproj.FileListAbsolute.txt
RPS.Model/obj/Debug/netcoreapp3.1/RPS.Model.csprojAssemblyReference.cache
RPS.Model/obj/Debug/netcoreapp3.1/RPS.Model.dll
RPS.Model/obj/Debug/netcoreapp3.1/RPS.Model.pdb
RPS.Player/bin/Debug/netcoreapp3.1/RPS.Model.dll
RPS.Player/bin/Debug/netcoreapp3.1/RPS.Model.pdb
RPS.Player/bin/Debug/netcoreapp3.1/RPS.Move.dll
RPS.Player/bin/Debug/netcoreapp3.1/RPS.Move.pdb
RPS.Player/bin/Debug/netcoreapp3.1/RPS.Player.deps.json
RPS.Player/bin/Debug/netcoreapp3.1/RPS.Player.dll
RPS.Player/bin/Debug/netcoreapp3.1/RPS.Player.pdb
RPS.Player/obj/project.assets.json
RPS.Player/obj/project.nuget.cache
RPS.Player/obj/RPS.Player.csproj.nuget.dgspec.json
RPS.Player/obj/RPS.Player.csproj.nuget.g.props
RPS.Player/obj/RPS.Player.csproj.nuget.g.targets
RPS.Player/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
RPS.Player/obj/Debug/netcoreapp3.1/RPS.Player.AssemblyInfo.cs
RPS.Player/obj/Debug/netcoreapp3.1/RPS.Player.AssemblyInfoInputs.cache
RPS.Player/obj/Debug/netcoreapp3.1/RPS.Player.assets.cache
RPS.Player/obj/Debug/netcoreapp3.1/RPS.Player.csproj.CopyComplete
RPS.Player/obj/Debug/netcoreapp3.1/RPS.Player.csproj.CoreCompileInputs.cache
RPS.Player/obj/Debug/netcoreapp3.1/RPS.Player.csproj.FileListAbsolute.txt
RPS.Player/obj/Debug/netcoreapp3.1/RPS.Player.csprojAssemblyReference.cache
RPS.Player/obj/Debug/netcoreapp3.1/RPS.Player.dll
RPS.Player/obj/Debug/netcoreapp3.1/RPS.Player.pdb
RPS.Rule/bin/Debug/netcoreapp3.1/RPS.Model.dll
RPS.Rule/bin/Debug/netcoreapp3.1/RPS.Model.pdb
RPS.Rule/bin/Debug/netcoreapp3.1/RPS.Move.deps.json
RPS.Rule/bin/Debug/netcoreapp3.1/RPS.Move.dll
RPS.Rule/bin/Debug/netcoreapp3.1/RPS.Move.pdb
RPS.Rule/obj/project.assets.json
RPS.Rule/obj/project.nuget.cache
RPS.Rule/obj/RPS.Move.csproj.nuget.dgspec.json
RPS.Rule/obj/RPS.Move.csproj.nuget.g.props
RPS.Rule/obj/RPS.Move.csproj.nuget.g.targets
RPS.Rule/obj/RPS.Rule.csproj.nuget.dgspec.json
RPS.Rule/obj/RPS.Rule.csproj.nuget.g.props
RPS.Rule/obj/RPS.Rule.csproj.nuget.g.targets
RPS.Rule/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
RPS.Rule/obj/Debug/netcoreapp3.1/RPS.Move.AssemblyInfo.cs
RPS.Rule/obj/Debug/netcoreapp3.1/RPS.Move.AssemblyInfoInputs.cache
RPS.Rule/obj/Debug/netcoreapp3.1/RPS.Move.assets.cache
RPS.Rule/obj/Debug/netcoreapp3.1/RPS.Move.csproj.CopyComplete
RPS.Rule/obj/Debug/netcoreapp3.1/RPS.Move.csproj.CoreCompileInputs.cache
RPS.Rule/obj/Debug/netcoreapp3.1/RPS.Move.csproj.FileListAbsolute.txt
RPS.Rule/obj/Debug/netcoreapp3.1/RPS.Move.csprojAssemblyReference.cache
RPS.Rule/obj/Debug/netcoreapp3.1/RPS.Move.dll
RPS.Rule/obj/Debug/netcoreapp3.1/RPS.Move.pdb
RPS.Rule/obj/Debug/netcoreapp3.1/RPS.Rule.AssemblyInfo.cs
RPS.Rule/obj/Debug/netcoreapp3.1/RPS.Rule.AssemblyInfoInputs.cache
RPS.Rule/obj/Debug/netcoreapp3.1/RPS.Rule.assets.cache
RPS.Rule/obj/Debug/netcoreapp3.1/RPS.Rule.csprojAssemblyReference.cache
RPS/bin/Debug/netcoreapp3.1/RPS.deps.json
RPS/bin/Debug/netcoreapp3.1/RPS.dll
RPS/bin/Debug/netcoreapp3.1/RPS.exe
RPS/bin/Debug/netcoreapp3.1/RPS.Factory.dll
RPS/bin/Debug/netcoreapp3.1/RPS.Factory.pdb
RPS/bin/Debug/netcoreapp3.1/RPS.Game.dll
RPS/bin/Debug/netcoreapp3.1/RPS.Game.pdb
RPS/bin/Debug/netcoreapp3.1/RPS.Model.dll
RPS/bin/Debug/netcoreapp3.1/RPS.Model.pdb
RPS/bin/Debug/netcoreapp3.1/RPS.Move.dll
RPS/bin/Debug/netcoreapp3.1/RPS.Move.pdb
RPS/bin/Debug/netcoreapp3.1/RPS.pdb
RPS/bin/Debug/netcoreapp3.1/RPS.Player.dll
RPS/bin/Debug/netcoreapp3.1/RPS.Player.pdb
RPS/bin/Debug/netcoreapp3.1/RPS.runtimeconfig.dev.json
RPS/bin/Debug/netcoreapp3.1/RPS.runtimeconfig.json
RPS/obj/project.assets.json
RPS/obj/project.nuget.cache
RPS/obj/RPS.csproj.nuget.dgspec.json
RPS/obj/RPS.csproj.nuget.g.props
RPS/obj/RPS.csproj.nuget.g.targets
RPS/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
RPS/obj/Debug/netcoreapp3.1/apphost.exe
RPS/obj/Debug/netcoreapp3.1/RPS.AssemblyInfo.cs
RPS/obj/Debug/netcoreapp3.1/RPS.AssemblyInfoInputs.cache
RPS/obj/Debug/netcoreapp3.1/RPS.assets.cache
RPS/obj/Debug/netcoreapp3.1/RPS.csproj.CopyComplete
RPS/obj/Debug/netcoreapp3.1/RPS.csproj.CoreCompileInputs.cache
RPS/obj/Debug/netcoreapp3.1/RPS.csproj.FileListAbsolute.txt
RPS/obj/Debug/netcoreapp3.1/RPS.csprojAssemblyReference.cache
RPS/obj/Debug/netcoreapp3.1/RPS.dll
RPS/obj/Debug/netcoreapp3.1/RPS.genruntimeconfig.cache
RPS/obj/Debug/netcoreapp3.1/RPS.pdb
